*{
}

html {
  font-family: 11px arial,tahoma,verdana, helvetica, sans-serif;
  color: #f00;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url("../images/bg.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

body {
}

#header{
  height: 250px;
  width: 720px;
  margin: auto;
  background-color: orange;
  position: relative;
  z-index:9;
  top: -70px;
}

#contain{
  background-color: green;
  width: 680px;
  margin: auto;
  padding: 20px;
  margin-top: -50px;
}

#footer {
  width: 710px;
  bottom: 0px;
  margin: auto;
  margin-bottom: 10px;
  background-color: blue;
  position: relative;
  z-index:9;
  color: white;
  padding-left: 10px;
}

p {
 font-family: arial,verdana, helvetica, sans-serif;
<<<<<<< HEAD
 font-size: 11px;
 line-height:150%;
 letter-spacing: 1px;
 color: #000000;
 text-align:justify;
 margin:15px;
 font-size:16px;
 font-family:verdana;
}

h6{
  font-family: arial,verdana, helvetica, sans-serif;
  font-size: 8px;
  line-height:100%;
  letter-spacing: 0px;
  color: #000000;
  text-align:justify;
  margin:15px;
  font-family:verdana;
=======
 font-size: 14px;
 line-height: 100%;
 letter-spacing: 0px;
 color: #000000;
 text-align: justify;
 margin: 15px;
 font-family: verdana;
>>>>>>> 6b597f96c34ade495998242b8bbeb4c658caa4d0
}

h1{
  font-family: verdana;
  font-size: 300%;
  color: white;
  padding-top: 55px;
}

h2{
  font-family: verdana;
  font-size: 600%;
  color: white;
  padding-top: 20px;
}

#username_center{
  width: 200px;
  margin: auto;
  position: relative;
}

#LoginField{
  width: 90px;
  height: 20px;
  top: 0px;
  right: 0px;
  position: absolute;
  background-color: grey;
  color: white;
}

#SearchField{
  width: 300px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  position: relative;
  background-color: purple;
}

#review{
  border-style: solid;
  border-width: 2px;
  border-color:black;
  padding-left: 5px;
  margin-bottom: 5px;
}
