*{
}

html {
  font-family: 11px arial,tahoma,verdana, helvetica, sans-serif;
  color: red;
  background-repeat: repeat;
  background-color: #000;
  background-image: url("../images/background/bg.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

body {
}

#header{
  height: 250px;
  width: 720px;
  margin: auto;
  background-color: grey;
  position: relative;
  z-index:9;
  top: 0px;
  border-style: solid;
  border-width: 3px;
  border-color:black;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#contain{
  background-color:  darkgrey;
  width: 680px;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: -30px;
  border-style: solid;
  border-width: 3px;
  border-color:black;
  border-radius: 25px;
}

#contain.center{
  text-align: center;
}

#gamedesc{
  position: relative;
  margin:auto;
  bottom: 120px;
  width: 630px;
  height: 400px;
  padding: 5px;
  border-color: black;
  border-style: solid;
  border-radius: 1px;
}

#gamedescrating{
  width: 100px;
  height: 50px;
  margin-left: 0px;
  padding: 5px;
  position: relative;
  bottom: 680px;
  left: 70px;;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
}

#footer {
  width: 100.4%;
  height: 21px;
  bottom: 0px;
  margin: auto;
  margin-bottom: 0px;
  padding-top: -5px;
  background-color: grey;
  z-index:9;
  color: black;
  padding-left: 10px;
  left: -10px;
  position: fixed;
}

form.newsForm{
  margin: auto;
  text-align: center;
  width: 230px;
}

input.newsTitle{
  margin-bottom:10px;
}

textarea.newsContent{
  left: 120px;
  top: 120px;
  width: 220px;
  height: 300px;
}

img.gamepic{
  background-size: 100%;
  width:400px;
  height:200px;
  background-color: yellow;
  position: relative;;
  left: 262px;
  bottom: 150px;
}

img.gamepic_menu{
  background-size: 100%;
  width:400px;
  height:200px;
  background-color: yellow;
  position: relative;;
  left: 0px;
  bottom: 0px;
  cursor: pointer;
}

img.gamepic_menu_small{
  background-size: 100%;
  width:115px;
  height:60px;
  background-color: yellow;
  position: relative;;
  left: 0px;
  bottom: 0px;
  cursor: pointer;
}

p {
 font-family: arial,verdana, helvetica, sans-serif;
 font-size: 15px;
 line-height:150%;
 letter-spacing: 0px;
 color: #000000;
 text-align:justify;
 margin:15px;
}

p.normal{
  font-family: arial,verdana, helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 0px;
  color: #000000;
}

p.center{
  text-align: center;
  cursor: pointer;
}

p.footer{
   margin:0px;
   text-align: center;
}

p.hover{
  cursor: pointer;
}

p.hidden{
  overflow: hidden;
  height:0px;
  width: 0px;
}

p.userclass{
  padding: 3px;
  margin: 0px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  cursor: pointer;
  float: left;
}

p.userclass:hover{
  background-color: gray;
}

form.form1{
  color: black;
}

div.gameSmall{
  padding: 5px;
  margin: 5px;
  width: auto;
  height: auto;
}

div.gameSmall:hover{
  background-color: grey;
}

div.gameSmall_left{
  padding: 5px;
  margin: 5px;
  width: auto;
  height: auto;
  float:left;
}

div.gameSmall_left:hover{
  background-color: grey;
}

div.selectedGame{
  background-color: gray;
}

p.selectedUser{
  background-color: gray;
}

#g{
  font-family: arial,verdana, helvetica, sans-serif;
  color: #000000;
  margin: 2px;
  position: relative;
  width: 137px;
  text-align: center;
  margin:auto;
  cursor: pointer;
}

#options{
  text-align: center;
  position: relative;
  margin: auto;
  width: 135px;
  margin-top: 200px;
}


#useroptions{
  text-align: center;
  position: relative;
  margin: auto;
  width: 135px;
  margin-top: 100px;
}

h1{
  font-family: verdana;
  font-size: 300%;
  color: white;
  padding-top: 55px;
}

h1.gametitle{
  position: relative;
  bottom: 60px;
  left: 30px;
}

h2{
  font-family: verdana;
  font-size: 600%;
  color: black;
  margin-top: 20px;
}

h3{
  font-family: verdana;
  font-size: 100%;
  color: black;
}

h3.center{
  text-align: center;
}

h6{
  font-family: arial,verdana, helvetica, sans-serif;
  font-size: 8px;
  line-height:100%;
  letter-spacing: 0px;
  color: #000000;
  text-align:justify;
  margin:15px;
  font-family:verdana;
}

#username_center{
  width: 200px;
  margin: auto;
  position: relative;
}

#LoginField{
  width: auto;
  height: 20px;
  top: 0px;
  right: 0px;
  position: absolute;
  background-color: lightgrey;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

a{
  text-decoration: none;
  color:darkred;
}
a:hover{
  color:red;
}

#SearchField{
  width: 300px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  position: relative;
  background-color: gray;
  margin-top: 20px;
  border-style: solid;
  border-width: 3px;
  border-color:black;
  border-top: 0px;
  border-radius: 25px;
}

#review{
  border-style: solid;
  border-width: 2px;
  border-color:black;
  padding-left: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888;
}

#WriteReview{
  padding-bottom: 20px;
  padding-left: 20px;
  width: 500px;
  position: relative;
  bottom: 120px;
  border-width: 3px;
  border-style: solid;
  border-color:black;
  border-radius: 25px;
}

#content{
  width: 477px;
  height: 200px;
}

div.review{
  position: relative;
  bottom: 160px;
  border-style: solid;
  border-width: 2px;
  border-color:black;
  padding-left: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888;
}

#registerpersonal{
  width: 330px;
  height: 450px;
  margin-left: 0px;
  padding: 5px;
  background-color: lightgray;
}

#registercompany{
  width: 330px;
  height: 570px;
  background-color: lightgray;
  margin-left: 0px;
  padding: 5px;
}

#BookingField{
  width: 90px;
  height: 20px;
  top: 230px;
  right: 0px;
  position: absolute;
  background-color: lightgrey;
  color: white;
  border-bottom-right-radius: 25px;
}

#logo{
  margin: auto;
  margin-top: 20px;
  width: 600px;
  height: 160px;
  background-size: 600px 150px;
  background-image: url("../images/logo/GameHouseLogo1.png");
  background-repeat: no-repeat;
}

#filler{
  height: 5px;
  width: 20px;
}

#SelectDate{
  width: 250px;
  height: 80px;
  text-align: center;
  margin-left: 50px;
  color:black
}

#SelectDate.number2{
  margin-left: auto;
  margin-right: 50px;
  margin-top: -96px;
}

#Calendar{
  margin: auto;
  width: 590px;
  height: 366px;
  background-color: gray;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  color: white;
  overflow: hidden;
}

div.day {
    background-color:#a02222;
    color:white;
    margin:6px;
    margin-left: 7px;
    padding:0px;
    padding-left:9px;
    width: 55px;
    height: 55px;
    overflow:hidden;
    float:left;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    color: white;
}

div.day:hover{
    width: 561px;
    height: 349px;
    position: absolute;
    overflow: scroll;
}

input.py{
  width: 40px;
}
input.pm{
  width: 25px;
}
input.pd{
  width: 25px;
}
input.ph{
  width:25px;
}
input.ny{
  width: 40px;
}
input.nm{
  width: 25px;
}
input.nd{
  width: 25px;
}
input.nh{
  width:25px;
}
